.page-403 {
  font-family: "Exo 2", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

:root {
  --transition-speed: 0.3s;
}

.page-403 .error-code {
  font-size: 6em;
  color: red;
  margin: 0;
}

.page-403 .error-message {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.page-403 a.home-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color var(--transition-speed);
}

.page-403 a.home-link:hover {
  background-color: #0056b3;
}